.data-overlay {
    cursor: pointer;
}

.born-deceased {
    color: #777;
    font-size: large;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.align-text {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1;
}
