.margin-bottom-zero {
    margin-bottom: 0;
}

.table-wrapper {
    max-height: 68vh;
}

.normalize-overflow {
    overflow: auto;
}

.table .thead-default tr th {
    background-color: #eceeef;
    border-bottom: 2px solid #eceeef;
}

.input-group .form-control:last-child {
    border-radius: 4px;
}

.no-padding {
    padding: 0;
}
