.margin-bottom-zero {
    margin-bottom: 0;
}

.table-wrapper {
    max-height: 68vh;
}

.normalize-overflow {
    overflow: auto;
}

.table .thead-default tr th {
    background-color: #eceeef;
    border-bottom: 2px solid #eceeef;
}

.no-padding {
    padding: 0;
}
