#table .panel-default {
    border-color: #337ab7;

    /*
       This is where the scroll bar intersects the panel,
       so no round edges there,
    */
    border-bottom-right-radius: 0;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.table-wrapper {
    max-height: 67vh;
}

.normalize-overflow {
    overflow: auto;
}

.table .thead-default tr th {
    background-color: #eceeef;
    border-bottom: 2px solid #eceeef;
}

.input-group .form-control:last-child {
    border-radius: 4px;
}

.no-padding {
    padding: 0;
}
