<div class="sidebar sidebar-right" id="about">
    <div class="about-content">
        <h3>Over dit project</h3>
        <p>
            Het project ‘Het dagelijks leven in Oosterhesselen 1740-1860’, is gestart in 2003.
            Het wil op grond van o.a. demografische gegevens allerlei aspecten van het dorpsleven in het kerspel (later gemeente) Oosterhesselen reconstrueren.
            Daarbij staan twee zaken centraal: gezinsreconstructie en bewoningsreconstructie.
        </p>
        <p>
            Deze database is oorspronkelijk opgezet als een bestand dat gezinnen bevat die in Oosterhesselen hebben gewoond.
            Die gezinnen omvatten grootouders, ouders en kinderen.
            Van al deze personen zijn zoveel mogelijk geboortedata, huwelijksdata en overlijdensdata verzameld.
            Als ze daadwerkelijk in Oosterhesselen hebben gewoond in de periode 1740-1860, is ook gepoogd extra gegevens te verzamelen, zoals beroep, belastinggegevens, plekken waar men gewoond heeft, lotelinggevens etc.
        </p>
        <p>
            In dit bestand treft u de gegevens aan van alle ingevoerde personen, dus ook als ze niet in Oosterhesselen hebben gewoond, maar wel in een bepaalde graad verwant zijn aan personen die er wel hebben gewoond.
            Omdat niet alle gegevens van deze personen voor onze analyses van Oosterhesselen noodzakelijk zijn, vind u van hen slechts de gedeeltelijk bekende data.
        </p>
        <p>
            Veel gegevens van de gezinsreconstructie komen uit de burgerlijke stand na 1811.
            Een belangrijk deel ook uit de Doop-, Trouw- en Begrafenisboeken van het kerspel vóór 1811.
            Bovendien is van allerlei additionele bronnen gebruik gemaakt, zoals belastinggegevens, huwelijksakten, rechterlijke vonnissen en notariële akten.
        </p>
        <h3>Artikelen</h3>
        <ol>
            <li>
                Paping, R. F. J. & Karel, E. H. K. ‘Hofstee in Oosterhesselen. Huwelijkspatronen 1740-1830.’ <em>Waardeel</em> 24 (2004), 1, p. 22-24.
            </li>
            <li>
                Karel, E. H. K. & Paping, R. F. J. ‘Migratie en migratiemotieven. Oosterhesselen in de eerste helft van de negentiende eeuw.’ <em>Waardeel</em> 31 (2011), 1, p. 6-13.
            </li>
            <li>
                Paping, R. F. J. & Karel, E. H. K. ‘The rural succession myth: Occupational careers and household formation of peasants’ and farmers’ offspring around 1800.’ <em>Tijdschrift voor Sociale en Economische Geschiedenis</em> 8 (2011), 4, p. 44-75.
            </li>
        </ol>
    </div>
</div>
