<div class="sidebar sidebar-right" id="about">
    <div class="about-content">
        <h2>Over dit project</h2>
        <p>
            Hier moet iets over wat dit precies is.
            Wat is deze data?
            Waar kijken we naar en wat kunnen we ermee?
        </p>
        <p>
            Dit mag ook best o.a. een lijst met referenties naar artikelen
            die over/uit deze data zijn gepubliceerd worden.
            Of een nadere uitleg van het 'hoe en wat'.
        </p>
    </div>
</div>
