<div class="sidebar sidebar-right" id="about">
    <div class="about-content">
        <h2>Over dit project</h2>
        <p>
            Hier moet iets over wat het Oosterhesselen project precies is.
            Wat is deze data?
            Waar kijken we naar en wat kunnen we ermee?
        </p>
    </div>
</div>
